@model List<ApplicationCore.Models.MovieCardModel>

<h1>@ViewData["genreName"] Movies</h1>

<div class="rounded">
    <div class="container-fluid">
        <div class="row">
            @foreach (var movieCard in Model)
            {
                <div class="col-xl-2 col-sm-4 col-lg-3 col-6">
                    <div class="card mb-4">
                        <a asp-controller="Movies" asp-action="Details" asp-route-id="@movieCard.Id" >
                            <img src="@movieCard.PosterUrl" class="img-fluid" alt="@movieCard.Title" />
                        </a>
                    </div>

                </div>
            }
        </div>
    </div>
</div>

<nav aria-label="Genre Page Navigation">
    <ul class="pagination">
        <li class="page-item">
            <a class="page-link" href="#" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        <li class="page-item"><a class="page-link" asp-controller="Movies" asp-action="Genre" asp-route-id="@ViewData["genreId"]" asp-route-name="@ViewData["genreName"]" asp-route-page="1">1</a></li>
        <li class="page-item"><a class="page-link" asp-controller="Movies" asp-action="Genre" asp-route-id="@ViewData["genreId"]" asp-route-name="@ViewData["genreName"]" asp-route-page="2">2</a></li>
        <li class="page-item"><a class="page-link" asp-controller="Movies" asp-action="Genre" asp-route-id="@ViewData["genreId"]" asp-route-name="@ViewData["genreName"]" asp-route-page="3">3</a></li>
        <li class="page-item">
            <a class="page-link" href="#" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
    </ul>
</nav>
