@model List<ApplicationCore.Models.PurchaseRequestModel>

@{
    ViewData["Title"] = "Purchases";
}

<div class="rounded">
    <div class="container-fluid">
        <div class="row">
            @inject ICurrentUser _currentUser
            @foreach (var purchase in Model)
            {
                var modalId = "#modal" + @purchase.MovieId;
                <div id="purchaseDetails" class="purchase-details col-xl-2 col-sm-4 col-lg-3 col-6">
                    <div class="card mb-4">
                        <a asp-controller="Movies" asp-action="Details" asp-route-id="@purchase.MovieId" >
                            <img src="@purchase.PosterUrl" class="img-fluid" alt="@purchase.MovieId" />
                        </a>
                        <a data-bs-toggle="modal" data-bs-target=@modalId asp-controller="User" asp-action="GetPurchaseDetails" asp-route-userId="@_currentUser.UserId" asp-route-movieId="@purchase.MovieId" type="button" class="btn btn-dark">Purchase Details</a>
                        <partial name="_PurchaseDetails" model=@purchase>
                        @*<button id="purchaseDetailsBtn" type="button" class="btn btn-dark">Purchase Details</button>*@
                    </div>
                </div>
            }
        </div>
    </div>
</div>


@section scripts{
<script type="text/javascript">
$(document).ready(function (){
    $('#purchaseDetailsModal').on('show.bs.modal', function(event) {
        var button = $(event.RelatedTarget);
        var purchaseDate = button.data('purchaseDate');
        var purchasePrice = button.data('price');
        var purchaseNumber = button.data('purchaseNumber');
        var modal = $(this);
        modal.find('#purchase-date').text(purchaseDate);
        modal.find('#purchase-price').text(purchasePrice);
        modal.find('#purchase-number').text(purchaseNumber);
    });
});
</script>
}

@*<div class="modal fade" id="purchaseDetailsModal" tabindex="-1" role="dialog" aria-labelledby="purchaseDetailsLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="purchaseDetailsLabel">Purchase Details</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                    <div class="modal-body">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col purchase-details">
                                    <p>Purchase Date</p>
                                    <span id="purchase-date" class="badge rounded-pill bg-dark"></span>
                                </div>  
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col purchase-details">
                                    <p>Price</p>
                                    <span id="purchase-price" class="badge rounded-pill bg-dark"></span>
                                </div>  
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col purchase-details">
                                    <p>Purchase Number</p>
                                    <span id="purchase-number" class="badge rounded-pill bg-dark"></span>
                                </div>  
                            </div>
                        </div>
                    </div>
            </div>
        </div>
</div>*@
